/*
  Description:
    Cascading Style Sheets (CSS) file:
    Formatting of the photoboard layout.

	Version:
		0.1a

  Creation date:
		31AUG2020

  Contributors
		MaybeNotABob

*/

body {
  background-color: #6ba4b8;
  align-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: grid;
  width:  100%;
  height: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.person_block {
  display: inline-block;
  text-align: center;
  padding: 10px;
  column-gap: 2px;
  row-gap: 2px;
}

.person_block_caption {
  display: block;
  background-color: #2f819e;
  color: #FFFFFF;
  text-align: center;
}

.header_block {
  display: block;
  grid-area: header_block;
  background-color: #91b8c7;
}

.company_logo {
  display: block;
  text-align: left;
  padding: 10px;
}

.company_name {
  display: inline-block;
  text-align: left;
  padding-left: 6px;
}

.center_block {
  display: block;
  grid-area: center_block;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  /*
  restrict the div width to limit number
  of items per row
  */
  max-width: 800px;
}

.left_pad {
  display: block;
  grid-area: left_pad;
}

.left_block {
  display: block;
  grid-area: left_block;
  align-content: center;
}

.right_block {
  display: block;
  grid-area: right_block;
  align-content: center;
}

.right_pad {
  display: block;
  grid-area: right_pad;
}

.footer_block {
  display: block;
  grid-area: footer_block;
  background-color: #91b8c7;
  font-size: smaller;
}


@media screen and (min-width: 1601px) {
  .container{
    grid-template-areas:  "header_block   header_block    header_block    header_block    header_block"
                          "left_pad       left_block      center_block    right_block     right_pad"
                          "footer_block   footer_block    footer_block    footer_block    footer_block";
  }
}

@media screen and (max-width: 1600px) {
  .container{
    grid-template-areas:  "header_block    header_block    header_block"
                          "left_block      center_block    right_block"
                          "footer_block    footer_block    footer_block";
  }

  .left_pad {
    display: none;
  }

  .right_pad {
    display: none;
  }

}

